@page
@model DisplayMounts.Pages.CookiePolicyModel
@{
    <div class="table text-center">
    <h1>Cookie Policy</h1>
        <p>This Cookie Policy explains how our website uses cookies and similar technologies to provide
        you with a better browsing experience and personalized content. 
        By using our website, you consent to the use of cookies as described in this policy.</p>

        <h3>What are cookies?</h3>
        <p>Cookies are small text files that are placed on your device (computer, tablet, or mobile) when you visit a website.
        They are widely used to make websites work more efficiently and to provide information to website owners.</p>

        <h3>How do we use cookies?</h3>
        <p>We use cookies for various purposes on our website, including:</p>
        <br>
        <p>
            Essential cookies: These cookies are necessary for the basic functioning of our website. 
            They enable you to navigate through the pages, access secure areas, and use essential features.
        </p>
        <br>
        <p>Analytical cookies: We use analytical cookies to collect information about how visitors interact with our website. 
        This helps us analyze data such as the number of visitors, the pages they visit,
        and the source of their visit. It enables us to improve our website's performance and user experience.</p>
        <br>
        <p>Functional cookies: Functional cookies allow our website to remember choices you make and provide enhanced features. 
        For example, they may remember your preferred language or region</p>
        <br>
        <p>Advertising cookies: We may use advertising cookies to deliver personalized advertisements to you based on your interests. 
        These cookies track your
        browsing habits and help us display relevant ads. We may share this information with third-party advertisers.</p>
        <br>
        <h3>Third-party cookies</h3>
        <p>In addition to our own cookies, we may also use third-party cookies on our website. 
        These cookies are placed by third-party service providers to help us analyze website usage, 
        display advertisements, and provide other functionalities. 
        Third-party cookies are subject to the respective privacy policies of these providers.</p>
        <br>
        <h3>Cookie consent and control</h3>
        <br>
        <p>When you first visit our website, you will be presented with a cookie consent banner. 
        By clicking "Accept" or continuing to use our website, 
        you consent to the use of cookies as described in this policy.</p>
        <br>
        <p>You can manage and control cookies through your web browser settings. 
        Most browsers allow you to block or delete cookies. However, please note that blocking or deleting cookies may 
        impact your browsing experience and prevent certain features from functioning correctly.</p>
        <br>
        <h3>Updates to this policy</h3>
        <br>
        <p>We may update this Cookie Policy from time to time to reflect changes in our practices or for other operational,
        legal, or regulatory reasons. 
        We encourage you to review this page periodically for the latest information on our use of cookies.</p>
        <br>
        <h3>Contact us</h3>
        <br>
        <p>If you have any questions or concerns about our use of cookies or this policy, please contact us.</p>
    </div>
}
